[submodule "lib/gtorrent-core"]
	path = lib/gtorrent-core
	url = http://github.com/gtorrent/gtorrent-core.git
[submodule "gtorrent-core"]
	path = gtorrent-core
	url = https://github.com/gtorrent/gtorrent-core
